.prodCard {
    background-color: rgb(246, 246, 246);
    width: 250px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 5px;
    margin-bottom: 30px;
    cursor: pointer;
    position: relative;
}

.cardCont {
    width: 90%;
    margin: 0 auto;
    padding-top: 12px;
    padding-bottom: 12px;
    position: relative;
}

.prodCard .img {
    width: 100%;
    border-radius: 5px;
    height: 200px;
    object-fit: cover;
    background-size: cover;
    background-position: center;
}

.prodTitle {
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 5px;
}

.prodDesc {
    font-size: 13px;
    color: rgb(65, 65, 65);
    margin-top: 5px;
}

.hoverItem {
    display: none;
    position: absolute;
    top: -300px;
    left: 0;
    z-index: 3;
    background-color: #fff;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    width: 250px;
    border-radius: 20px;
}

.orderBtn{
    background-color: rgb(255, 208, 0);
    border: none;
    color: red;
    cursor: pointer;
    display: block;
    margin: 15px auto;
}
/*price, prodPrice, prop*/